//Primary colors
$clr-dark: hsl(233, 26%, 24%);
$clr-accent: hsl(136, 65%, 51%);
$clr-bright: hsl(192, 70%, 51%);

//Neutral colors
$clr-grayish: hsl(233, 8%, 62%);
$clr-grayish-light: hsl(220, 16%, 96%);
$clr-very-light: hsl(0, 0%, 98%);
$clr-white: hsl(0, 0%, 100%);

//Fonts
$ff-sans: "Public Sans", sans-serif;
