//Intro

.intro {
  max-width: 100%;
  background-image: url("../../images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  background-color: $clr-very-light;

  @include tablet {
    background-image: url("../../images/bg-intro-desktop.svg");
    background-size: auto;
    background-position: 45vw -24vh;
  }

  // &__content {
  //   // position: relative;
  //   // @include tablet {
  //   //   display: flex;
  //   //   flex-direction: row-reverse;
  //   //   justify-content: space-between;
  //   // }
  // }

  &__content {
    position: relative;
    @include tablet {
      &::before {
        content: url(../../images/image-mockups.png);
        position: absolute;
        top: -5vh;
        right: -15vw;
        // z-index: 1;
      }
    }
  }

  &__img {
    transform: translateY(-10%);
    @include tablet {
      // width: 50%;
      // img {
      //   position: absolute;
      //   transform: translate(44.5vw, -12vh);
      // }
      display: none;
      // &::before {
      //   content: url(../../images/image-mockups.png);
      //   position: absolute;
      //   top: 0;
      //   right: 0;
      // }
    }
  }

  // &__img {
  //   overflow: hidden;
  //   transform: translateY(-10%);
  //   @include tablet {
  //     transform: translate(0px, 25px);
  //   }
  // }

  &__heading {
    text-align: center;
    transform: translateY(-5%);
    @include tablet {
      max-width: 40%;
      text-align: left;
      transform: translateY(0);
    }
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 300;
    color: $clr-dark;
    padding-bottom: 1.5625rem;
    @include tablet {
      font-size: 3.125rem;
      padding: 11.25rem 0 1.875rem 0;
    }
  }

  &__description {
    color: $clr-grayish;
    line-height: 1.5;
    font-size: 0.9375rem;
    padding-bottom: 2.25rem;
    @include tablet {
      font-size: 1.125rem;
      padding-bottom: 2.5rem;
    }
  }

  &__btn {
    margin-bottom: 4rem;
    @include tablet {
      margin-bottom: 10.625rem;
    }
  }
}
